.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}
.card-body {
    padding: 0px 25px;
}
.card-footer {
    padding: 9px 10px;
    background-color: #ffffff3c;
    border-top: none;
}